*{
    margin: 0px;
}
#navbar-ml-20, .main-ml-20{
    margin-left: 240px;
    /* overflow-x: hidden; */
}
.navbar-bg-color{
    background-color: #5b6be8;
}
.sidebar{
    width: 240px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
} 
div h2 button{
    text-decoration: none;
}
button a{
    text-decoration: none;
    color: #808080;
}
button span{
    color: #808080;
}
.subtitle{
    color: #808080;
    font-size: 14px;
}
.accordian-pl{
    padding-left: 25px;
}
i{
    padding: 0px 6px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

button:hover, .accordian-title:hover, i:hover{
    color: #5b6be8;
    font-weight: bold;
}
.user, .box-icon{
    border: 1px solid #fff;
    border-radius: 50%;
}
.search-box{
    border: 1px solid #6d7beb;
    background: #6d7beb;
    border-radius: 30px;
}
.box-bg{
    background-color: #fff;
    /* padding: 20px;
    margin: 10px; */
}